flowschart.json
[{"id":"7d523612.8fcfa8","type":"tab","label":"Flow 13","disabled":false,"info":""},{"id":"b39ff217.1571b","type":"http request","z":"7d523612.8fcfa8","name":"Riobamba","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?id=3652350&appid=ec3c441af84e5ec4ccd1e2324d498234&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":40,"wires":[[]]},{"id":"91a39632.fc39c8","type":"http request","z":"7d523612.8fcfa8","name":"Cosenza","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?id=2524907&appid=ec3c441af84e5ec4ccd1e2324d498234&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":120,"wires":[["6a226fa0.5ddff"]]},{"id":"3353e3ca.9b558c","type":"debug","z":"7d523612.8fcfa8","name":"Decision","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":280,"wires":[]},{"id":"1d9b6683.a9d3a9","type":"function","z":"7d523612.8fcfa8","name":"TemperatureControl","func":"//get temperature range\nvar TMax=msg.payload.RangeSet.TMax;\nvar TMin=msg.payload.RangeSet.TMin;\n//get roomtemperature\nvar RTemp=msg.payload.Data.Room_temp;\n\nvar heating, vent;\n\n\nif (RTemp>TMax){\n    heating=false;\n    vent=true;\n}else{\n    if (RTemp<TMin) {\n    heating=true;\n    vent=false;\n}else{\n    heating=false;\n    vent=false;\n}}\n\nmsg.payload = { Heating:heating, Ventilation:vent};\nmsg.topic = \"TempControl\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":280,"wires":[["d2446816.cc71e8"]]},{"id":"d870699a.0d57f8","type":"function","z":"7d523612.8fcfa8","name":"RangeSet","func":"//get usefull data for desicion making\n//1.-sensors, and fisical dimentions\nvar RTemp = msg.payload[0].temperature;\nvar RHum = msg.payload[0].humidity;\nvar Dim = msg.payload[0].Dimentions;\n//2.-Real weather outdoors\nvar realtemp = msg.payload[1].main.temp;\nvar realhum = msg.payload[1].main.humidity;\n\n\n//set winter/summer range\n//sumer\n\nif (realtemp >= 24){\n    var TempMax=26;\n    var TempMin=24;\n    var HumMax=55;\n//winter\n\n}else{\n    TempMax=23;\n    TempMin=22;\n    HumMax=50;\n}\n\nmsg.payload = {Data:{Real_temp:realtemp, Real_humid:realhum, Room_temp:RTemp, Room_hum:RHum, Dimention:Dim}, RangeSet: {TMax:TempMax, TMin:TempMin, HMax:HumMax, HMin:47}};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":340,"wires":[["1d9b6683.a9d3a9","5c0a4276.8708ac","50ba12e3.0570cc"]]},{"id":"5c0a4276.8708ac","type":"function","z":"7d523612.8fcfa8","name":"HumidityControl","func":"//get humidity range\nvar HMax=msg.payload.RangeSet.HMax;\nvar HMin=msg.payload.RangeSet.HMin;\n//get roomhumidity\nvar RHum=msg.payload.Data.Room_hum;\n\nvar humid, dhumid,clk;\n\n\nif (RHum<HMin){\n    humid=true;\n    dehumid=false;\n    clk=false;\n}else{\n    if (RHum>HMax) {\n    humid=false;\n    dehumid=true;\n    clk=true;\n}else{\n    humid=false;\n    dehumid=false;\n    clk=false;\n}}\n\nmsg.payload = { Humidifier:humid, Dehumidifier:dehumid, Clk_dehu:clk};\nmsg.topic = \"HumidityControl\";\nvar msg1 = { payload: clk };\nreturn [msg, msg1];\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":680,"y":340,"wires":[["d2446816.cc71e8"],["a07ef052.3e637"]]},{"id":"50ba12e3.0570cc","type":"function","z":"7d523612.8fcfa8","name":"EstimatedCapacity","func":"//get values\nvar RHum=msg.payload.Data.Room_hum;\nvar RoomDim=msg.payload.Data.Dimention;\nvar Dist, EC;\nvar Alert2=false;\n\n//stablished values\nvar CriHMax=65;\nvar CriHMin=40;\n\n\nif (RHum<CriHMin || RHum>CriHMax){\n    Dist=2;\n    Alert2=true;\n    \n}else{\n    Dist=1.5;\n    \n}\n\nEC = Math.round(RoomDim/(Dist+0.2));\n\nmsg.payload = { ECapacity:EC, Distancing:Dist, DistAlert:Alert2};\nmsg.topic = \"EstimatedCapacity\"; \nvar msg1= { payload: Alert2 };\n\nreturn [msg, msg1];\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":690,"y":400,"wires":[["d2446816.cc71e8","e08ad067.872e4"],["77d59b5b.d1d784"]]},{"id":"f65a901c.c9fca","type":"debug","z":"7d523612.8fcfa8","name":"Dehumidifier 2h","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1380,"y":380,"wires":[],"icon":"node-red/alert.svg"},{"id":"9db241e1.f8ba9","type":"debug","z":"7d523612.8fcfa8","name":"Humidity_critical","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"{\t   \"payload\" : \"Humidity value is Critical, Please Increace Distancing 2 meters\"\t}","targetType":"jsonata","statusVal":"","statusType":"auto","x":1380,"y":580,"wires":[],"icon":"node-red/alert.svg"},{"id":"539ed7d.57d6028","type":"inject","z":"7d523612.8fcfa8","name":"Data_insert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Data","payload":"{\"temperature\":12,\"humidity\":50,\"Dimentions\":356}","payloadType":"json","x":110,"y":200,"wires":[["6a226fa0.5ddff","91a39632.fc39c8"]]},{"id":"6a226fa0.5ddff","type":"join","z":"7d523612.8fcfa8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":450,"y":200,"wires":[["d870699a.0d57f8"]]},{"id":"d2446816.cc71e8","type":"join","z":"7d523612.8fcfa8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":990,"y":280,"wires":[["3353e3ca.9b558c"]]},{"id":"f24b85a1.a17748","type":"debug","z":"7d523612.8fcfa8","name":"Capacity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1360,"y":460,"wires":[]},{"id":"e08ad067.872e4","type":"function","z":"7d523612.8fcfa8","name":"Capacity_Message","func":"var msg0 = { payload :\"The estimated capacity of people is: \"};\nvar msg1 = { payload :msg.payload.ECapacity };\nvar msg2 = {payload: msg0.payload + msg1.payload};\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":460,"wires":[["7f12623d.926fcc"]]},{"id":"1b93861.4ce8d7a","type":"switch","z":"7d523612.8fcfa8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":580,"wires":[["9db241e1.f8ba9"]]},{"id":"77d59b5b.d1d784","type":"rbe","z":"7d523612.8fcfa8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":950,"y":520,"wires":[["1b93861.4ce8d7a"]]},{"id":"7f12623d.926fcc","type":"rbe","z":"7d523612.8fcfa8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1190,"y":460,"wires":[["f24b85a1.a17748"]]},{"id":"a07ef052.3e637","type":"rbe","z":"7d523612.8fcfa8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":380,"wires":[["1b6ba75b.807fb9"]]},{"id":"1b6ba75b.807fb9","type":"trigger","z":"7d523612.8fcfa8","name":"","op1":"","op2":"\"Dehumidifier Alert\"","op1type":"nul","op2type":"str","duration":"2","extend":false,"overrideDelay":false,"units":"hr","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":1130,"y":380,"wires":[["f65a901c.c9fca"]]}]